@import "../../assets/design/variables.scss";

.ErrorComponent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;

  .MessageContainer {
    h1 {
      color: $color-white;
      margin-bottom: 20px;
      font-size: $font-size-l;
      text-shadow: $text-shadows;
      -webkit-text-shadow: $text-shadows;
      -moz-text-shadow: $text-shadows;
    }
    p {
      font-size: $font-size-medium;
    }
  }
}
