@import "../../assets/design/variables.scss";

.ProfileComponent {
  position: absolute;
  top: $absolute-position-fixed-margin;
  left: $absolute-position-fixed-margin;

  .user_info {
    background-color: $background-color-dark-gray;
    padding: 5px 10px;
    border-radius: $labels-border-radius;
    font-size: $font-size-label;

    &.--display_name {
      color: $color-white;
      font-weight: bold;
    }
  }
}
