@import "../../assets/design/variables.scss";

.LyricsComponent {
  .LyricsToolbar {
    position: absolute;
    top: $absolute-position-fixed-margin;
    right: $absolute-position-fixed-margin;
    z-index: 10;
  
    .lyrics_toolbar_options {
      background-color: $background-color-dark-gray;
      padding: 5px 10px;
      border-radius: $labels-border-radius;
      font-size: calc(5px + 1vmin);
  
      &:hover {
        background-color: $color-black;
      }
  
      &.--show-lyrics-button {
        color: $color-white;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .LyricsModal {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &__container {
      display: flex;
      flex-direction: column;
      position: relative;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 20px;
    }
  
    &__dim-layer {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $background-color-dark-gray;
    }
  
    &__content {
      position: relative;
      z-index: 10;
      font-size: $font-size-smaller;
      padding: 20px;
      white-space: pre-wrap;
      color: $color-white;
      width: calc(100% - 40px);
      height: calc(100vh - 80px);
      max-width: 600px;
      max-height: 700px;
      overflow-y: scroll;
      overflow-x: hidden;

      &--bottom-label {
        margin-top: 30px;
        font-size: $font-size-label;
        z-index: 2;
        color: $color-gray;
      }
    }

  }
}
