@import "../../assets/design/variables.scss";

.LoginComponent {
  background-image: url("../../assets/images/unsplash_yannis-papanastasopoulos-yWF2LLan-_o_1920.jpg");
  background-size: cover;      
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;

  .auth {
    h1 {
      color: $color-white;
      font-weight: bold;
      font-size: $font-size-xl;
      margin-bottom: 10px;
    }
  }

  .button {
    outline: none;
    border: 0;
    cursor: pointer;

    &.--big {
      padding: 10px 20px;
      font-size: $font-size-medium;
    }

    &.--bg-dark {
      background-color: #191414;
      color: #1DB954;
      font-weight: bold;
      &:hover {
        background-color: #1DB954;
        color: $color-white;
      }
    }
  }

  .photo_credits {
    position: absolute;
    bottom: $absolute-position-fixed-margin;
    right: $absolute-position-fixed-margin;
    background-color: $background-color-dark-gray;
    border-radius: $labels-border-radius;
    padding: 5px 10px;
    text-align: right;

    .artwork_credit {
      font-size: $font-size-label;
  
      &.--artist_name {
        color: $color-white;

        a, a:visited {
          margin-left: 5px;
          color: $color-white;
          font-weight: bold;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
  
      &.--service {
        color: $color-gray;
        margin-left: 10px;
        font-size: smaller;
      }
    }
  }
}
