// COLORS
$color-black: black;
$color-white: #ffffff;
$color-gray: gray;

// HEADINGS
$font-size-xl: calc(15px + 10vmin);
$font-size-l: calc(15px + 8vmin);
$font-size-medium: calc(15px + 1vmin);
$font-size-normal: calc(10px + 2vmin);
$font-size-smaller: calc(10px + 1vmin);
$font-size-label: calc(5px + 1vmin);

// BACKGROUND-COLORS
$background-default: #282c34;
$background-color-dark-gray: #1A1E26;

// ABSOLUTE MARGINS
$absolute-position-fixed-margin: 15px;

// BORDERS
$labels-border-radius: 10px;

// SHADOWS
$text-shadows: 2px 2px 21px rgba(0, 38, 38, 0.43);
